// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Helvetica';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary:#94ce83;
$secondary:#295b84;
$border-radius: #295b84, solid, 2px;

$border-color: rgb(66, 54, 233);

$border-radius:               .25rem;
$border-radius-sm:            .1rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;

.pagina-inicio{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 5px;
}
.izquierda{
    align-items: left;
    text-align: left;
}
iframe{
    border-radius: 10px;
}

.foto-perfil{
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-bottom: 10px;
}

.foto-post{
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 10px;
        

}

.div-post{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #3c698f;
    border-radius: 10px;
}

.div-foto-post{
    margin-bottom: 10px;
}

.perfil-post{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    

}

.div-like-post{
    margin-bottom: 10px;
}

.div-create-post{
    text-align: center;
    margin-top: 4em;
    border: solid #3c698f;
    border-radius: 20px;
    width: 50%;
}

.div-create{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.div-show{
    border: solid #3c698f;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
}

.div-botones-show{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    

}
.input-create-post{
    width: 60%;
    border: solid 2px;
}
label .div-create-post{
    margin-top: 5px;
    margin-bottom: 5px;
}

.icono{
    width: 40px;
}

// estilo del div
.div-sobrenosotros{
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    display: flex;
}

.div-general-sobrenosotros{
    justify-content: center;
    text-align: center;

}

.div-foto-aboutus{
    background-color: #94ce83;
    border-radius: 10px;
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
}
  /* Visible texto */
figure:hover > figcaption {
    display:block;
    transition: all .5s;
}


// .foto-nosotros{
//     width: 400px;
//     height: 500px;
//     background-repeat: no-repeat;
//     background-size: 400px 500px;
//     border-radius: 10px;
//     filter: grayscale(80%);
//     background-image: url("/imagenes/ivanserio.png");
// }

// .foto-nosotros:hover{
//     width: 400px;
//     height: 500px;
//     background-repeat: no-repeat;
//     border-radius: 10px;
//     background-image: url("/imagenes/ivanfeliz.jpg");
//     filter: saturate(150%);
//     transition: width 2s, height 2s, transform 6s;
//     transform: rotate(1080deg);
    
// }

// .foto-nosotros2{
//     width: 400px;
//     height: 500px;
//     background-repeat: no-repeat;
//     background-size: 400px 500px;
//     border-radius: 10px;
//     filter: grayscale(80%);
   
//     background-image: url("imagenes/arnauserio.jpg");
    
// }

// .foto-nosotros2:hover{
//     width: 400px;
//     height: 500px;
//     background-repeat: no-repeat;
//     border-radius: 10px;
//     filter: saturate(150%);
//     border-radius:50%;
//     -webkit-border-radius:50%;
//     box-shadow: 0px 0px 15px 15px #94ce83;
//     -webkit-box-shadow: 0px 0px 15px 15px #94ce83;
//     transform: rotate(-1080deg);
//     -webkit-transform: rotate(-1080deg);
//     transition: width 2s, height 2s, transform 1s;
//     transform: perspective(6);
//     background-image: url("imagenes/arnaufeliz.jpg");
// }

.p-cargo{
    content: 'Scrum Master';
}

.p-cargo:hover{
    content: 'Fan del Ferxxo';
}

