// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Helvetica';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary:#94ce83;
$secondary:#295b84;
$border-radius: #295b84, solid, 2px;

$border-color: rgb(66, 54, 233);

$border-radius:               .25rem;
$border-radius-sm:            .1rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;

.pagina-inicio{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 5px;
}
.izquierda{
    align-items: left;
    text-align: left;
}
iframe{
    border-radius: 10px;
}

.foto-perfil{
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-bottom: 10px;
}

.foto-post{
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 10px;
        

}

.div-post{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #3c698f;
    border-radius: 10px;
}

.div-foto-post{
    margin-bottom: 10px;
}

.perfil-post{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    

}

.div-like-post{
    margin-bottom: 10px;
}

.div-create-post{
    text-align: center;
    margin-top: 4em;
    border: solid #3c698f;
    border-radius: 20px;
    width: 50%;
}

.div-create{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.div-show{
    border: solid #3c698f;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
}

.div-botones-show{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    

}
.input-create-post{
    width: 60%;
    border: solid 2px;
}
label .div-create-post{
    margin-top: 5px;
    margin-bottom: 5px;
}

.icono{
    width: 40px;
}
